body {
    font-family: 'Courier New', Courier, monospace;
}

/* navbar  */

.navbar-brand {
    padding: 5px;
}

/* main content */

h1 {
    margin: 30px 10px 50px 10px;
    text-align: center;
}

h3 {
    font-size: 1.8em;
    text-align: center;
}

.menu-item {
    background-color: rgb(160, 158, 158);
    padding: 10px;
}

.col-lg-4, .col-md-6, .col-sm-12 {
    padding-top: 15px;
}

@media (min-width: 992px) {
    .menu-item {
        padding: 20px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .menu-item {
        padding: 15px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .menu-item {
        padding: 13px;
    }
}